@model bookdb.Models.BookAuthor

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BookAuthor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    @if (Model.Books.Count > 0) {
        <h2>Books</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(modelItem => Model.Books.First().Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(modelItem => Model.Books.First().ReleaseDate)
                    </th>
                </tr>
            </thead>
            <tbody>
        @foreach (var item in Model.Books) {
                <tr>
                    <td>
                        <a asp-controller="Books" asp-action="Details" asp-route-id="@item.Id">
                            @Html.DisplayFor(modelItem => item.Title)
                        </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReleaseDate)
                    </td>
                </tr>
        }
            </tbody>
        </table>
    }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
